asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
configparser==5.3.0
contourpy==1.0.5
cycler==0.11.0
distro==1.7.0
Django==4.1
django-bootstrap-icons==0.8.1
fonttools==4.37.2
idna==3.3
imageio==2.22.0
itk==5.2.1.post1
itk-core==5.2.1.post1
itk-filtering==5.2.1.post1
itk-io==5.2.1.post1
itk-numerics==5.2.1.post1
itk-registration==5.2.1.post1
itk-segmentation==5.2.1.post1
jsonfield==3.1.0
kiwisolver==1.4.4
matplotlib==3.6.0
mysqlclient==2.1.1
mysql-connector-python
networkx==2.8.6
numpy==1.23.2
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pyvips==2.2.1
PyWavelets==1.4.1
requests==2.28.1
scikit-build==0.15.0
scikit-image==0.19.3
scipy==1.9.1
Shapely==1.8.5.post1
SimpleITK==2.1.1.2
six==1.16.0
sqlparse==0.4.2
tifffile==2022.8.12
tzdata==2022.2
urllib3==1.26.11
