{% load static %}

@font-face {
    font-family: FuturaStd-CondensedLight;
    src: url("{% static 'css/fonts/Futura/FuturaStd-CondensedLight.otf' %}");
}

@font-face {
    font-family: FuturaStd-MediumCondensed;
    src: url("{% static 'css/fonts/Futura/FuturaStd-MediumCondensed.otf' %}");
}

.fLight{
    font-family: FuturaStd-CondensedLight;
}

.fMediumC {

    font-family: FuturaStd-MediumCondensed;

}

.bg {

     background-color: #e4e4e3;
}

.txt_blanco{
    color: #fff;
}


.bg2 {

     background-color:#fff;
     height: 85%;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    /*background-size: cover;*/
   background-size: 100% 100%;



}
.bg3 {

     background-color: #c9c9c9;
}

.margIns {

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

}

.padIns {

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

}


.nav-link, .nav-link:hover {
color: #18b686 ;
}

.pagination {
    --bs-pagination-active-bg: #18b686 ;
    --bs-pagination-active-border-color: #17a479;
}

.flex-grow {
    flex: 1 0 auto;
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}