{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}

<div class="wrapper">
<!-- use of  js -->
<script src="{% static 'js/openseadragon.js' %}"></script>


<!-- use of  css -->
    <link rel="stylesheet" href="{% static 'css/viewer.css' %}">


<div class="col-md-12 " style="background-color: #c9c9c9">
<div  class="container padIns">
    <div class="row align-items-center ">
        <div class="input-group col ">
              <span class="input-group-text" id="basic-addon1">Select Algorithms</span>
              <select name="SelectAlgor" id="SelectAlgor" class="form-control"  >
                  {% for al in alg %}
                    <option value="{{al.algorithm.id}}">{{al.algorithm.name}}</option>
                  {% endfor %}
              </select>
        </div>

        <div class="input-group col">
              <span class="input-group-text" id="basic-addon2">Select viewer</span>
              <select name="SelectView" id="SelectView" class="form-control"  >
                  <option value="0" selected>Original Images</option>
                  {% if features_fix and features_mov  %}
                  <option value="1" >Feature Extraction</option>
                  {% endif %}
                  {% if matchingImage  %}
                  <option value="2" >Matching lines</option>
                  {% endif %}
                  {% if warpImage  %}
                  <option value="3" >Warping Image</option>
                  {% endif %}
                  {% if chessImage %}
                  <option value="4" >Chess Board</option>
                  {% endif %}

              </select>
        </div>

<!--        <div class="input-group col">-->
<!--              <span class="input-group-text" id="basic-addon3">Select Visualizer</span>-->
<!--              <select name="SelectVis" id="SelectVis" class="form-control"  >-->
<!--                  <option>-->
<!--                        hola-->
<!--                    </option>-->
<!--              </select>-->
<!--        </div>-->


    </div>
</div>

</div>






    <div class="row " style="flex:2; display: flex;">

        {% if id_viewer > 1 %}

        <div class="col " style=" flex: 1 1 ;  min-height: 100%;">

                <div class="conta">
                    <div id="seadragon-viewer"  class = "posCanvas" style="width:100%; height:100%;  "></div>
                    <div id="btnViw1" class="stack-top posCanvas">

                        <a id="zoom_in_btn1" class="btn btn-outline-success" > {% bs_icon 'zoom-in' %}</a>
                        <a id="zoom_out_btn1"  class="btn btn-outline-success" > {% bs_icon 'zoom-out' %}</a>
                        <a id="home_btn1"  class="btn btn-outline-success" > {% bs_icon 'house-door' %}</a>
                        <a id="full_page_btn1"  class="btn btn-outline-success" > {% bs_icon 'arrows-fullscreen' %}</a>

                    </div>
                </div>

            </div>

        {% else %}

        <div class="col " style=" flex: 1 1 ;  min-height: 100%;">

                <div class="conta">
                    <div id="seadragon-viewer"  class = "posCanvas" style="width:100%; height:100%;  "></div>
                    <div id="btnViw1" class="stack-top posCanvas">

                        <a id="zoom_in_btn1" class="btn btn-outline-success" > {% bs_icon 'zoom-in' %}</a>
                        <a id="zoom_out_btn1"  class="btn btn-outline-success" > {% bs_icon 'zoom-out' %}</a>
                        <a id="home_btn1"  class="btn btn-outline-success" > {% bs_icon 'house-door' %}</a>
                        <a id="full_page_btn1"  class="btn btn-outline-success" > {% bs_icon 'arrows-fullscreen' %}</a>

                    </div>
                </div>

            </div>

        <div class="col  " style=" flex: 1 1;  min-height: 100%;">
            <div class="conta">
                <div id="seadragon-viewer2"  style="width:100%; height:100%; "  class = "posCanvas"></div>
                <div id="btnViw2" class="stack-top posCanvas">

                        <a id="zoom_in_btn2" class="btn btn-outline-success" > {% bs_icon 'zoom-in' %}</a>
                        <a id="zoom_out_btn2"  class="btn btn-outline-success" > {% bs_icon 'zoom-out' %}</a>
                        <a id="home_btn2"  class="btn btn-outline-success" > {% bs_icon 'house-door' %}</a>
                        <a id="full_page_btn2"  class="btn btn-outline-success" > {% bs_icon 'arrows-fullscreen' %}</a>
                </div>
            </div>
        </div>

        {% endif %}



    </div>











<script>

$('#SelectView option[value="{{id_viewer}}"]').attr("selected", "selected");

{% if id_viewer > 1 %}

var viewer = OpenSeadragon({
  id: "seadragon-viewer",
  showNavigator:  true,
  zoomInButton:   "zoom_in_btn1",
  zoomOutButton:  "zoom_out_btn1",
  homeButton:     "home_btn1",
  fullPageButton: "full_page_btn1",
  maxZoomLevel: 	30,



  tileSources: {
        type: 'image',
        {% if id_viewer == 2 %}
            url:  '{{ matchingImage.url }}',
        {% elif id_viewer == 3 %}
            url:  '{{ warpImage.url }}',
        {% elif id_viewer == 4 %}
            url:  '{{ chessImage.url }}',
        {% endif %}

        buildPyramid: false
    }
});



{% else %}
var viewer = OpenSeadragon({
  id: "seadragon-viewer",
  showNavigator:  true,
  zoomInButton:   "zoom_in_btn1",
  zoomOutButton:  "zoom_out_btn1",
  homeButton:     "home_btn1",
  fullPageButton: "full_page_btn1",
   maxZoomLevel: 	30,
  //prefixUrl: "/main/media/img/fixed/{{id_project}}_fix",


  tileSources:

        {% if id_viewer == 0 %}
              '{{ fixImg }}',
        {% elif id_viewer == 1 %}
            {
            type: 'image',
            url: '{{ features_fix.url }}',
            buildPyramid: false


            }

        {% endif %}


});

var viewer2 = OpenSeadragon({
  id: "seadragon-viewer2",
  showNavigator:  true,
  zoomInButton:   "zoom_in_btn2",
  zoomOutButton:  "zoom_out_btn2",
  homeButton:     "home_btn2",
  fullPageButton: "full_page_btn2",
  maxZoomLevel: 	30,


  tileSources:
        //type: 'image',
        {% if id_viewer == 0 %}
           '{{ movImag }}',
        {% elif id_viewer == 1 %}
            {
            type: 'image',
            url: '{{ features_mov.url }}',
            buildPyramid: false

           }
        {% endif %}



});

{% endif %}

$("#SelectAlgor").on('change', function() {

    alert( this.value );
    val= this.value
    viewer_id = $("#SelectView").val();
    url = "{% url 'home:viewer' id_project  %}";
    document.location.href = url + "/"+ viewer_id + "/"+ val;


})

$("#SelectView").on('change', function() {
    val= this.value
    alg_id = $("#SelectAlgor").val();
    url = "{% url 'home:viewer' id_project  %}";
    document.location.href = url + "/"+ val + "/" + alg_id;



})

</script>

</div>
{% endblock content %}