{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% load extraTags %}
{% block content %}

<div class="wrapper">
<!-- use of  js -->
<script src="{% static 'js/openseadragon.js' %}"></script>
<script src="{% static 'js/fabric.adapted.js' %}"></script>
<script src="{% static 'js/openseadragon-fabricjs-overlay.js' %}"></script>


<!-- use of  css -->
    <link rel="stylesheet" href="{% static 'css/viewer.css' %}">


<div class="col-md-12 " style="background-color: #c9c9c9">
<div  class="container padIns">
    <div class="row align-items-center ">
        <div class="input-group col ">
              <span class="input-group-text" id="basic-addon1">Select Algorithms</span>
              <select name="SelectAlgor" id="SelectAlgor" class="form-control"  >
                  {% for al in alg %}
                    <option value="{{al.algorithm.id}}">{{al.algorithm.name}}</option>
                  {% endfor %}
              </select>
        </div>

        <div class="input-group col">
              <span class="input-group-text" id="basic-addon2">Select viewer</span>
              <select name="SelectView" id="SelectView" class="form-control"  >
                  <option value="0" selected>Original Images</option>
                  {% if features_fix != "" and features_mov != ""  %}
                  <option value="1" >Feature Extraction</option>
                  {% endif %}
                  {% if matchingImage != "" %}
                  <option value="2" >Matching lines</option>
                  {% endif %}
                  {% if warpImage != ""  %}
                  <option value="3" >Warping Image</option>
                  {% endif %}
                  {% if chessImage != "" %}
                  <option value="4" >Chess Board</option>
                  {% endif %}
                  {% if Ncat %}
                  <option value="5" >Annotations</option>
                  {% endif %}

              </select>

        </div>
        {% if id_viewer == 5 %}
            {% if Ncat  %}

                <div class=" col-auto ">
                <label  class="col-form-label btn active">{% bs_icon 'eye' %}/{% bs_icon 'eye-slash' %} </label>
                </div>

                {% for cat in categories %}
                    <div class=" col-auto ">
                         <a  id="{{cat.id}}" name="{{cat.name}}" class="sh btn btn-outline-success run" > {{cat.name}} </a>


                    </div>
                {% endfor %}

            {% endif %}
        {% endif %}

<!--        <div class="input-group col">-->
<!--              <span class="input-group-text" id="basic-addon3">Select Visualizer</span>-->
<!--              <select name="SelectVis" id="SelectVis" class="form-control"  >-->
<!--                  <option>-->
<!--                        hola-->
<!--                    </option>-->
<!--              </select>-->
<!--        </div>-->


    </div>
</div>

</div>






    <div class="row " style="flex:2; display: flex;">

        {% if id_viewer > 1 and  id_viewer < 5 %}

        <div class="col " style=" flex: 1 1 ;  min-height: 100%;">

                <div class="conta">
                    <div id="seadragon-viewer"  class = "posCanvas" style="width:100%; height:100%;  "></div>
                    <div id="btnViw1" class="stack-top posCanvas">

                        <a id="zoom_in_btn1" class="btn btn-outline-success" > {% bs_icon 'zoom-in' %}</a>
                        <a id="zoom_out_btn1"  class="btn btn-outline-success" > {% bs_icon 'zoom-out' %}</a>
                        <a id="home_btn1"  class="btn btn-outline-success" > {% bs_icon 'house-door' %}</a>
                        <a id="full_page_btn1"  class="btn btn-outline-success" > {% bs_icon 'arrows-fullscreen' %}</a>

                    </div>
                </div>

            </div>

        {% else %}

        <div class="col " style=" flex: 1 1 ;  min-height: 100%;">

                <div class="conta">
                    <div id="seadragon-viewer"  class = "posCanvas" style="width:100%; height:100%;  "></div>
                    <div id="btnViw1" class="stack-top posCanvas">

                        <a id="zoom_in_btn1" class="btn btn-outline-success" > {% bs_icon 'zoom-in' %}</a>
                        <a id="zoom_out_btn1"  class="btn btn-outline-success" > {% bs_icon 'zoom-out' %}</a>
                        <a id="home_btn1"  class="btn btn-outline-success" > {% bs_icon 'house-door' %}</a>
                        <a id="full_page_btn1"  class="btn btn-outline-success" > {% bs_icon 'arrows-fullscreen' %}</a>

                    </div>
                </div>

            </div>

        <div class="col  " style=" flex: 1 1;  min-height: 100%;">
            <div class="conta">
                <div id="seadragon-viewer2"  style="width:100%; height:100%; "  class = "posCanvas"></div>
                <div id="btnViw2" class="stack-top posCanvas">

                        <a id="zoom_in_btn2" class="btn btn-outline-success" > {% bs_icon 'zoom-in' %}</a>
                        <a id="zoom_out_btn2"  class="btn btn-outline-success" > {% bs_icon 'zoom-out' %}</a>
                        <a id="home_btn2"  class="btn btn-outline-success" > {% bs_icon 'house-door' %}</a>
                        <a id="full_page_btn2"  class="btn btn-outline-success" > {% bs_icon 'arrows-fullscreen' %}</a>
                </div>
            </div>
        </div>

        {% endif %}



    </div>











<script>
function getRndInteger(min, max) {
  return Math.floor(Math.random() * (max - min) ) + min;
}

$('#SelectView option[value="{{id_viewer}}"]').attr("selected", "selected");

{% if id_viewer > 1 and id_viewer < 5%}

var viewer = OpenSeadragon({
  id: "seadragon-viewer",
  showNavigator:  true,
  zoomInButton:   "zoom_in_btn1",
  zoomOutButton:  "zoom_out_btn1",
  homeButton:     "home_btn1",
  fullPageButton: "full_page_btn1",
  maxZoomLevel: 	30,



  tileSources:
        {% if id_viewer == 2 %}
            '{{ matchingImage}}'
        {% elif id_viewer == 3 %}
            '{{ warpImage }}'
        {% elif id_viewer == 4 %}
           '{{ chessImage }}'
        {% endif %}

});




{% else %}
var viewer = OpenSeadragon({
  id: "seadragon-viewer",
  showNavigator:  true,
  zoomInButton:   "zoom_in_btn1",
  zoomOutButton:  "zoom_out_btn1",
  homeButton:     "home_btn1",
  fullPageButton: "full_page_btn1",
   maxZoomLevel: 	30,
  //prefixUrl: "/main/media/img/fixed/{{id_project}}_fix",


  tileSources:

        {% if id_viewer == 0 or id_viewer == 5 %}
              '{{ fixImg }}',
        {% elif id_viewer == 1 %}

            '{{ features_fix }}',


        {% endif %}


});

var viewer2 = OpenSeadragon({
  id: "seadragon-viewer2",
  showNavigator:  true,
  zoomInButton:   "zoom_in_btn2",
  zoomOutButton:  "zoom_out_btn2",
  homeButton:     "home_btn2",
  fullPageButton: "full_page_btn2",
  maxZoomLevel: 	30,


  tileSources:
        //type: 'image',
        {% if id_viewer == 0 or id_viewer == 5 %}
           '{{ movImag }}',
        {% elif id_viewer == 1 %}

           '{{ features_mov }}',

        {% endif %}



});
{% if id_viewer == 5 %}
    var options = {scale: {{ImWidth}}};
    var optionsWrap = {scale: {{ImWidthWrap}}};

    var overlay = viewer2.fabricjsOverlay(options);
    var overlayWrap = viewer.fabricjsOverlay(optionsWrap);
    //canvasCenter = {x:overlay.fabricCanvas().width/2,y:overlay.fabricCanvas().height/2};


    colors= []
    for(i=0;i<{{Ncat}}; i++){
        colors.push("rgb("+getRndInteger(0,255)+","+getRndInteger(0,255) + "," +getRndInteger(0,255)+")")
    }


    {% for p in pol %}
        var arrPol = []

        {% for point in p %}
            {% if forloop.first %}
                number_of_points = {{forloop.revcounter}}
                factor = Math.floor(number_of_points/100)
                console.log(factor)
            {% endif %}


            //reduce the number of dots in 20
            {% if forloop.counter|getMod:20 %}

                arrPol.push({x: {{point.0}}  , y: {{point.1}} })
            {% endif %}



        {% endfor %}

        poligono = new fabric.Polygon(
            arrPol,
            {
                left:  {{boxArr|getArrValue:forloop.counter0|getXorY:"x"}},
                top: {{boxArr|getArrValue:forloop.counter0|getXorY:"y"}},
                fill: colors[{{polcat|getArrValue:forloop.counter0}} - 1 ],
                opacity: 0.8,
                name: {{polcat|getArrValue:forloop.counter0}}

            }
        )
        //console.log(arrPol[0]["x"] + " - " + arrPol[0]["y"])
        //console.log(poligono)
        overlay.fabricCanvas().add(poligono);
        //console.log(overlay.fabricCanvas().0)
    {% endfor %}

    {% for p in pol_fix %}
        var arrPolWrap = []




        {% for point in p %}

            {% if forloop.counter|getMod:20 %}

                arrPolWrap.push({x: {{point.0}}  , y: {{point.1}} })
            {% endif %}



        {% endfor %}

        poligonoWrap = new fabric.Polygon(
            arrPolWrap,
            {
                left:  {{boxAr_fix|getArrValue:forloop.counter0|getXorY:"x"}},
                top: {{boxAr_fix|getArrValue:forloop.counter0|getXorY:"y"}},
                fill: colors[{{polcat_fix|getArrValue:forloop.counter0}} - 1 ],
                opacity: 0.8,
                name: {{polcat_fix|getArrValue:forloop.counter0}}

            }
        )
        //console.log(arrPol[0]["x"] + " - " + arrPol[0]["y"])
        //console.log(poligono)
        overlayWrap.fabricCanvas().add(poligonoWrap);
        //console.log(overlay.fabricCanvas().0)
    {% endfor %}


    overlay.fabricCanvas().renderAll();
    overlay.fabricCanvas().forEachObject(function(object){

           object.selectable = false;
           Object.evented =  false;
           object.hasControls = object.hasBorders = false;
    });

    overlayWrap.fabricCanvas().renderAll();
    overlayWrap.fabricCanvas().forEachObject(function(object){

           object.selectable = false;
           Object.evented =  false;
           object.hasControls = object.hasBorders = false;
    });

{% endif %}

{% endif %}



$("#SelectAlgor").on('change', function() {

    alert( this.value );
    val= this.value
    viewer_id = $("#SelectView").val();
    url = "{% url 'home:viewer' id_project  %}";
    document.location.href = url + "/"+ viewer_id + "/"+ val;


})

$("#SelectView").on('change', function() {
    val= this.value
    alg_id = $("#SelectAlgor").val();
    url = "{% url 'home:viewer' id_project  %}";
    document.location.href = url + "/"+ val + "/" + alg_id;



})

$( ".sh" ).click(function() {
    value = parseInt($(this).attr('id'))
    name = parseInt($(this).attr('name'))
    annObjects = overlay.fabricCanvas().getObjects().filter(obj => obj.name === value);
    annObjects.forEach(function(object){
        if(object.visible == true){
            object.visible  = false;


        }else{
            object.visible  = true;


        }

        overlay.fabricCanvas().renderAll();
    });

    annObjectsWrap = overlayWrap.fabricCanvas().getObjects().filter(obj => obj.name === value);
    annObjectsWrap.forEach(function(object){
        if(object.visible == true){
            object.visible  = false;


        }else{
            object.visible  = true;


        }

        overlayWrap.fabricCanvas().renderAll();
    });

    //console.log($(this).text())


});
</script>

</div>
{% endblock content %}